<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCa8FmYe8ccNqysXWnKj2AZ_rBNyiuewUI</string>
	<key>GCM_SENDER_ID</key>
	<string>595356602771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.a13CloudGallery</string>
	<key>PROJECT_ID</key>
	<string>picstorage-f5e87</string>
	<key>STORAGE_BUCKET</key>
	<string>picstorage-f5e87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595356602771:ios:9633348977a1a61db05866</string>
</dict>
</plist>